<!DOCTYPE html>
<html>
<head>
    <title>YouTube Comment Sentiment Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h1 class="mt-5">Enter YouTube Video ID and Number of Comments</h1>
        <div class="card mt-3">
            <div class="card-body">
                <form action="/" method="post" class="form-inline">
                    <div class="form-group mb-2">
                        <label for="video_id" class="sr-only">Video ID:</label>
                        <input type="text" class="form-control" id="video_id" name="video_id" placeholder="Video ID">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="num_comments" class="sr-only">Number of Comments:</label>
                        <input type="number" class="form-control" id="num_comments" name="num_comments" placeholder="Number of Comments">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Analyze</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
